<div class="row">
	<div class="twelve columns">
		<div class="seven columns">
			<div class="panel">

				<h1>New event</h1>
				<%= render 'form' %>
				<%= link_to 'Cancel', events_path %>

			</div>
		</div>
	</div>
</div>