<% if session[:user_id].present? %>

	<% if session[:user_id] == 1 %>

		<h4>Editing vote for <%= @event.name %></h4>

		<%= render 'vote_form' %>

		<%= link_to 'Back', events_path %>

	<% else %>
		<%= render '/shared/missing_page' %>
	<% end %>
	
<% end %>